# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [18]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import time

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [7]:
weather_df = pd.read_csv('Output/weather_data.csv')

weather_df["Cloudiness"].astype(float)
weather_df["Humidity"].astype(float)

weather_df.dtypes

weather_df.head()

,Unnamed: 0,City,Cloudiness,Country,Date,Humidity,Max Temp,Wind Speed,Lat,Lng
0,0,Mataura,100,NZ,1580135151,96,287.04,1.34,-46.19,168.86
1,1,Cockburn Town,75,TC,1580134852,69,299.15,4.60,21.46,-71.14
2,2,Ulaangom,0,MN,1580135151,87,252.78,1.25,49.98,92.07
3,3,Deputatsky,100,RU,1580135151,75,242.07,1.76,69.30,139.90
4,4,Mount Isa,90,AU,1580135152,83,299.15,2.60,-20.73,139.50

In [8]:

# Convert from Kelvin to Farenheight
weather_df["Max Temp F"] = (weather_df["Max Temp"] - 273) * (9/5) + 32

weather_df.head()

,Unnamed: 0,City,Cloudiness,Country,Date,Humidity,Max Temp,Wind Speed,Lat,Lng,Max Temp F
0,0,Mataura,100,NZ,1580135151,96,287.04,1.34,-46.19,168.86,57.272
1,1,Cockburn Town,75,TC,1580134852,69,299.15,4.60,21.46,-71.14,79.070
2,2,Ulaangom,0,MN,1580135151,87,252.78,1.25,49.98,92.07,-4.396
3,3,Deputatsky,100,RU,1580135151,75,242.07,1.76,69.30,139.90,-23.674
4,4,Mount Isa,90,AU,1580135152,83,299.15,2.60,-20.73,139.50,79.070

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [12]:
# Configure gmaps
gmaps.configure(api_key=g_key) 

locations = weather_df[["Lat", "Lng"]]
humidity = weather_df["Humidity"]

heat_map = gmaps.Map()

# Heatmap Layer
humidity_layer = gmaps.heatmap_layer(locations, weights=humidity)

fig = gmaps.figure()
fig.add_layer(humidity_layer)

fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [13]:

# A max temperature lower than 80 degrees but higher than 70.
# Wind speed less than 10 mph.
# Zero cloudiness.

ideal_weather = weather_df.loc[weather_df['Max Temp F'] < 80, :]
ideal_weather = ideal_weather.loc[ideal_weather['Max Temp F'] > 70, :]
ideal_weather = ideal_weather.loc[ideal_weather['Wind Speed'] < 10, :]
ideal_weather = ideal_weather.loc[ideal_weather['Cloudiness'] == 0, :]
ideal_weather = pd.DataFrame(ideal_weather)
ideal_weather = ideal_weather.dropna()
ideal_weather.head()

,Unnamed: 0,City,Cloudiness,Country,Date,Humidity,Max Temp,Wind Speed,Lat,Lng,Max Temp F
17,17,Busselton,0,AU,1580135154,32,297.59,5.37,-33.65,115.33,76.262
29,29,Mar del Plata,0,AR,1580134890,65,294.82,5.36,-38.00,-57.56,71.276
31,31,Clarence Town,0,AU,1580135156,73,298.15,3.10,-32.58,151.78,77.270
46,46,Assiut,0,EG,1580135159,32,294.15,2.60,27.18,31.18,70.070
47,47,Carnarvon,0,AU,1580135071,94,298.15,6.70,-24.87,113.63,77.270

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [15]:
hotel_df = ideal_weather.loc[:,["City","Country", "Lat", "Lng"]]
hotel_df["Hotel Name"] = ""

hotel_name = []

hotel_df.head()

             City Country    Lat     Lng Hotel Name
17      Busselton      AU -33.65  115.33
29  Mar del Plata      AR -38.00  -57.56
31  Clarence Town      AU -32.58  151.78
46         Assiut      EG  27.18   31.18
47      Carnarvon      AU -24.87  113.63

In [16]:

base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

params = {"type" : "hotel",
          "keyword" : "hotel",
          "radius" : 5000,
          "key" : g_key}

In [19]:

for index, row in hotel_df.iterrows():
    # get city name, lat, lnt from df
    lat = row["Lat"]
    lng = row["Lng"]
    city_name = row["City"]
    
    # add keyword to params dict
    params["location"] = f"{lat},{lng}"

    # assemble url and make API request
    print(f"Retrieving Results for Index {index}: {city_name}.")
    response = requests.get(base_url, params=params).json()
    
    # extract results
    results = response['results']
    
    # save the hotel name to dataframe
    try:
        print(f"Closest hotel in {city_name} is {results[0]['name']}.")
        hotel_df.loc[index, "Hotel Name"] = results[0]['name']

    # if there is no hotel available, show missing field
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")
        
    print("------------")
    
    # Wait 1 sec to make another api request to avoid SSL Error
    time.sleep(1)

# Print end of search once searching is completed
print("-------End of Search-------")

Retrieving Results for Index 17: Busselton.
Closest hotel in Busselton is Esplanade Hotel.
------------
Retrieving Results for Index 29: Mar del Plata.
Closest hotel in Mar del Plata is Sheraton Mar del Plata Hotel.
------------
Retrieving Results for Index 31: Clarence Town.
Closest hotel in Clarence Town is Erringhi Hotel.
------------
Retrieving Results for Index 46: Assiut.
Closest hotel in Assiut is Florence Hotel Assiut.
------------
Retrieving Results for Index 47: Carnarvon.
Closest hotel in Carnarvon is Hospitality Carnarvon.
------------
Retrieving Results for Index 103: Avarua.
Closest hotel in Avarua is The Edgewater Resort and Spa.
------------
Retrieving Results for Index 111: Rapar.
Closest hotel in Rapar is YAX 72 ટી હાઊસ.
------------
Retrieving Results for Index 115: Port Macquarie.
Closest hotel in Port Macquarie is Port Macquarie Hotel.
------------
Retrieving Results for Index 191: Moron.
Closest hotel in Moron is Hotel Residencial Maitén.
------------
Retrieving Results for Index 234: Sawakin.
Closest hotel in Sawakin is اولاد خضر.
------------
Retrieving Results for Index 239: Ciego de Avila.
Closest hotel in Ciego de Avila is Hotel Rueda.
------------
Retrieving Results for Index 243: Constitucion.
Closest hotel in Constitucion is Bed & Breakfast Sweet Dreams.
------------
Retrieving Results for Index 290: Sao Filipe.
Closest hotel in Sao Filipe is Hotel Xaguate.
------------
Retrieving Results for Index 294: Salalah.
Closest hotel in Salalah is Salalah Gardens Hotel.
------------
Retrieving Results for Index 295: Acajutla.
Closest hotel in Acajutla is Villavela Hotel Boutique.
------------
Retrieving Results for Index 362: Geraldton.
Closest hotel in Geraldton is Ocean Centre Hotel.
------------
Retrieving Results for Index 416: Sittwe.
Closest hotel in Sittwe is Hotel Memory.
------------
Retrieving Results for Index 426: Vallenar.
Closest hotel in Vallenar is Hotel Real Vallenar.
------------
Retrieving Results for Index 432: Srivardhan.
Closest hotel in Srivardhan is Tranquil Beach Resort.
------------
Retrieving Results for Index 458: Ilhabela.
Closest hotel in Ilhabela is Ilha Flat Hotel.
------------
Retrieving Results for Index 463: Mangrol.
Closest hotel in Mangrol is Kaveri Hotel.
------------
Retrieving Results for Index 483: Nautla.
Closest hotel in Nautla is Hotel Cocoloco.
------------
Retrieving Results for Index 487: Wairoa.
Closest hotel in Wairoa is The Clyde Hotel.
------------
Retrieving Results for Index 493: Bure.
Closest hotel in Bure is Meseret Hotel.
------------
Retrieving Results for Index 500: Debre Tabor.
Closest hotel in Debre Tabor is Hibret Hotel.
------------
Retrieving Results for Index 536: Nuevitas.
Closest hotel in Nuevitas is Hotel Caonaba.
------------
-------End of Search-------

In [20]:
hotel_df

               City Country    Lat     Lng                    Hotel Name
17        Busselton      AU -33.65  115.33               Esplanade Hotel
29    Mar del Plata      AR -38.00  -57.56  Sheraton Mar del Plata Hotel
31    Clarence Town      AU -32.58  151.78                Erringhi Hotel
46           Assiut      EG  27.18   31.18         Florence Hotel Assiut
47        Carnarvon      AU -24.87  113.63         Hospitality Carnarvon
103          Avarua      CK -21.21 -159.78  The Edgewater Resort and Spa
111           Rapar      IN  23.57   70.63                YAX 72 ટી હાઊસ
115  Port Macquarie      AU -31.43  152.92          Port Macquarie Hotel
191           Moron      AR -34.65  -58.62      Hotel Residencial Maitén
234         Sawakin      SD  19.11   37.33                     اولاد خضر
239  Ciego de Avila      CU  21.84  -78.76                   Hotel Rueda
243    Constitucion      CL -35.33  -72.42  Bed & Breakfast Sweet Dreams
290      Sao Filipe      CV  14.90  -24.50                 Hotel Xaguate
294         Salalah      OM  17.02   54.09         Salalah Gardens Hotel
295        Acajutla      SV  13.59  -89.83      Villavela Hotel Boutique
362       Geraldton      AU -28.77  114.60            Ocean Centre Hotel
416          Sittwe      MM  20.15   92.90                  Hotel Memory
426        Vallenar      CL -28.57  -70.76           Hotel Real Vallenar
432      Srivardhan      IN  18.03   73.02         Tranquil Beach Resort
458        Ilhabela      BR -23.78  -45.36               Ilha Flat Hotel
463         Mangrol      IN  21.12   70.12                  Kaveri Hotel
483          Nautla      MX  20.22  -96.78                Hotel Cocoloco
487          Wairoa      NZ -39.03  177.37               The Clyde Hotel
493            Bure      ET  10.70   37.07                 Meseret Hotel
500     Debre Tabor      ET  11.85   38.02                  Hibret Hotel
536        Nuevitas      CU  21.55  -77.26                 Hotel Caonaba

In [21]:

# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
#hotel_info = [info_box_template.format(**row) for index, row in narrowed_city_df.iterrows()]
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [24]:
# Add marker layer and info box content ontop of heat map
markers = gmaps.marker_layer(locations, info_box_content = hotel_info)

# Add the layer to the map
fig.add_layer(markers)

# Display Map
plt.savefig("Images/hotel_map.png")